.gitignore
.DS_Store
.pytest_cache
.python-version
*.pyc
log_files
log_files/*
log_files/*/*
hate_speech*/*
cache_dir
cache_dir/*
*/cache_dir/*
.idea/*
.env/*
bak/*
 */*__pycache__*
temp.jsonl
*.egg-info